body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.bg {
  width: 600px;
  height: 500px;
}

.chart {
  width: 600px;
  height: 500px;
  position: relative;
  opacity: 0.99;
}

.chart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./BasicRadar/brain.png");
  opacity: 0.5;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px 349px;
  background-position-x: 145px;
  background-position-y: 46px;
}
.rechart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./BasicRadar/brain.png");
  opacity: 0.5;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px 349px;
  background-position-x: 145px;
  background-position-y: 46px;
}
.semiotic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./BasicRadar/brain.png");
  opacity: 0.5;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px 349px;
  background-position-x: 145px;
  background-position-y: 46px;
}
.quadrant::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./BasicRadar/brain.png");
  opacity: 0.5;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px 349px;
  background-position-x: 145px;
  background-position-y: 46px;
}
span {
  font-size: 13px;
}
