body {
  padding: 20px;
  color: #eeeeee;
  height: 100%;
  margin: 5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(25, 6, 41, 0);
  background-image: linear-gradient(#190629, #081229);
}
form {
  color: #3b4351;
}
form label {
  color: #eeeeee;
}

.bg {
  width: 600px;
  height: 500px;
}

.chart {
  width: 600px;
  height: 500px;
  position: relative;
  opacity: 0.99;
}

.semiotic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/brain.png");
  opacity: 0.5;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px 349px;
  background-position-x: 145px;
  background-position-y: 46px;
}
.quadrant::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/brain.png");
  opacity: 0.5;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px 349px;
  background-position-x: 145px;
  background-position-y: 46px;
}
span {
  font-size: 13px;
}

.rv-xy-plot__series--label {
  fill: white;
}
.rv-xy-plot__axis__tick__text {
  fill: white !important;
}
svg text {
  fill: white;
}
